<div class="auth-section-div animate__animated animate__fadeInDown animate__faster">
  <div class="auth-wrapper-div">
    <!-- ?===== Auth Header ?===== -->
    <app-auth-header>
      <h2 class="text-lg font-medium text-slate-900">{{ 'Verify your identity' | translate }}</h2>
      <p class="text-sm text-slate-500">
        {{ "We'll send a verification code to your email" | translate }}
      </p>
    </app-auth-header>

    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForgotPasswordForm()">
      <div class="mb-8">
        @let email = forgotPasswordForm.get('email');
        <label for="email" class="sr-only">{{ 'Email address' | translate }}</label>
        <div>
          <input
            id="email"
            name="email"
            formControlName="email"
            type="email"
            [placeholder]="'Email address' | translate"
            [class]="{
              'border-red-600': email?.invalid && email?.touched,
              'border-green-600': email?.valid && email?.touched,
            }"
            class="auth-input"
          />
        </div>
        @if (email?.errors && email?.touched) {
          <div class="auth-alert animate__animated animate__faster">
            <i class="fa-solid fa-circle-exclamation text-[11px]"></i>
            <span class="text-[11px]">
              @if (email?.getError('required')) {
                {{ 'Required' | translate }}
              } @else if (email?.getError('email')) {
                {{ 'Invalid Format' | translate }}
              }
            </span>
          </div>
        }
      </div>

      <button [disabled]="forgotPasswordForm.invalid || isLoading()" type="submit" class="auth-btn">
        @if (isLoading()) {
          <i class="fa-solid fa-spinner fa-spin"></i>
          Sending...
        } @else {
          {{ 'Verify Email' | translate }}
        } 
      </button>
    </form>
  </div>
</div>
