<div class="auth-section-div animate__animated animate__fadeInDown animate__faster">
  <div class="auth-wrapper-div">
    <!-- ?===== Auth Header ?===== -->
    <app-auth-header>
      <h2 class="text-lg font-medium text-slate-900">{{ 'Update your password' | translate }}</h2>
      <p class="text-sm text-slate-500">{{ 'Choose a new, secure password' | translate }}</p>
    </app-auth-header>

    <form
      class="space-y-4"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmitResetPasswordForm()"
    >
      <div class="mb-4">
        @let email = resetPasswordForm.get('email');
        <label for="email" class="sr-only">{{ 'Email address' | translate }}</label>
        <div>
          <input
            id="email"
            name="email"
            formControlName="email"
            type="email"
            [placeholder]="'Email address' | translate"
            [class]="{
              'border-red-600': email?.invalid && email?.touched,
              'border-green-600': email?.valid && email?.touched,
            }"
            class="auth-input"
          />
        </div>
        @if (email?.errors && email?.touched) {
          <div class="auth-alert animate__animated animate__faster">
            <i class="fa-solid fa-circle-exclamation text-[11px]"></i>
            <span class="text-[11px]">
              @if (email?.getError('required')) {
                {{ 'Required' | translate }}
              } @else if (email?.getError('email')) {
                {{ 'Invalid Format' | translate }}
              }
            </span>
          </div>
        }
      </div>

      <div class="mb-8">
        @let newPassword = resetPasswordForm.get('newPassword');
        <label for="newPassword" class="sr-only">{{ 'New Password' | translate }}</label>
        <div class="relative">
          <input
            id="newPassword"
            name="newPassword"
            formControlName="newPassword"
            [type]="isTypeText() ? 'text' : 'password'"
            [placeholder]="'New Password' | translate"
            [class]="{
              'border-red-600': newPassword?.invalid && newPassword?.touched,
              'border-green-600': newPassword?.valid && newPassword?.touched,
            }"
            class="auth-input"
          />
          @if (isTypeText()) {
            <i
              class="fa-solid fa-eye absolute top-1/2 -translate-y-1/2 end-3 cursor-pointer text-gray-400"
              (click)="isTypeText.set(false)"
            ></i>
          } @else {
            <i
              class="fa-solid fa-eye-slash absolute top-1/2 -translate-y-1/2 end-3 cursor-pointer text-gray-400"
              (click)="isTypeText.set(true)"
            ></i>
          }
        </div>
        @if (newPassword?.errors && newPassword?.touched) {
          <div class="auth-alert animate__animated animate__faster">
            <i class="fa-solid fa-circle-exclamation text-[11px]"></i>
            <span class="text-[11px]">
              @if (newPassword?.getError('required')) {
                {{ 'Required' | translate }}
              } @else if (newPassword?.getError('pattern')) {
                {{ '8+ chars, 1 letter, 1 number' | translate }}
              }
            </span>
          </div>
        }
      </div>

      <button [disabled]="resetPasswordForm.invalid || isLoading()" type="submit" class="auth-btn">
        @if (isLoading()) {
          <i class="fa-solid fa-spinner fa-spin"></i>
          Updating... 
        } @else {
          {{ 'Save New Password' | translate }}
        }
      </button>
    </form>
  </div>
</div>
