/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@layer components {
  .my-bg {
    @apply bg-linear-to-br from-slate-50 via-stone-50 to-slate-100;
  }
  .my-container {
    @apply container mx-auto;
  }

  /* *******Authentication******* */
  .auth-section-div {
    @apply flex items-center justify-center py-16 bg-linear-to-br from-slate-50 via-blue-50 to-slate-100 px-6 lg:px-8;
  }

  .auth-wrapper-div {
    @apply relative w-full max-w-md bg-white/95 backdrop-blur-sm border border-slate-200 shadow-xl shadow-slate-200/50 p-12 rounded-lg;
  }

  .auth-input {
    @apply w-full rtl:text-right rtl:pr-5 rtl:pl-3 ltr:pl-5 pr-3 py-3 border border-slate-300 rounded-md text-sm text-slate-900 placeholder:text-slate-500 placeholder:text-[15px] transition-all focus:outline-none;
  }
  .auth-alert {
    @apply flex items-center gap-1.5 text-red-800 mt-2 font-semibold tracking-wide;
  }
  .auth-btn {
    @apply w-full bg-[#0071AE] hover:bg-[#0a2540] text-white text-sm font-semibold py-3 px-4 rounded-sm shadow-[0_2px_4px_rgba(0,0,0,0.1),0_1px_1px_rgba(0,0,0,0.1)] border border-[#635bff] transition-all duration-200 ease-in-out active:scale-[0.98] focus:outline-none focus:ring-2 focus:ring-[#635bff] focus:ring-offset-2 cursor-pointer disabled:cursor-not-allowed;
  }
  .auth-btn:hover {
    @apply -translate-y-0.5 shadow-lg;
  }
  .auth-btn:active {
    @apply scale-95;
  }

  /* *******Product Card******* */
  .add-to-btns {
    @apply w-11 h-11 rounded-full backdrop-blur-sm shadow-lg flex items-center justify-center opacity-0 group-hover:opacity-100 transition-all duration-300 cursor-pointer hover:rotate-12 hover:-translate-y-0.5;
  }
}

/* ***** Fonts ***** */
* {
  font-family: 'Inter', sans-serif;
}
