<div class="auth-section-div animate__animated animate__fadeInDown animate__faster">
  <div class="auth-wrapper-div">
    <!-- ?===== Auth Header ?===== -->
    <app-auth-header>
      <h2 class="text-lg font-medium text-slate-900">
        {{ 'Sign in to your account' | translate }}
      </h2>
      <p class="text-sm text-slate-500">
        {{ 'Access your orders, payments, and account' | translate }}
      </p>
    </app-auth-header>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <div class="mb-4">
        @let email = loginForm.get('email');
        <label for="email" class="sr-only">{{ 'Email address' | translate }}</label>
        <div>
          <input
            id="email"
            name="email"
            formControlName="email"
            type="email"
            [placeholder]="'Email address' | translate"
            [class]="{
              'border-red-600': email?.invalid && email?.touched,
              'border-green-600': email?.valid && email?.touched,
            }"
            class="auth-input"
          />
        </div>
        @if (email?.errors && email?.touched) {
          <div class="auth-alert animate__animated animate__faster">
            <i class="fa-solid fa-circle-exclamation text-[11px]"></i>
            <span class="text-[11px]">
              @if (email?.getError('required')) {
                {{ 'Required' | translate }}
              } @else if (email?.getError('email')) {
                {{ 'Invalid Format' | translate }}
              }
            </span>
          </div>
        }
      </div>

      <div class="mb-4">
        @let password = loginForm.get('password');
        <label for="password" class="sr-only">{{ 'Password' | translate }}</label>
        <div class="relative">
          <input
            id="password"
            name="password"
            formControlName="password"
            [type]="isTypeText() ? 'text' : 'password'"
            [placeholder]="'Password' | translate"
            [class]="{
              'border-red-600': password?.invalid && password?.touched,
              'border-green-600': password?.valid && password?.touched,
            }"
            class="auth-input"
          />
          @if (isTypeText()) {
            <i
              class="fa-solid fa-eye absolute top-1/2 -translate-y-1/2 end-3 cursor-pointer text-gray-400"
              (click)="isTypeText.set(false)"
            ></i>
          } @else {
            <i
              class="fa-solid fa-eye-slash absolute top-1/2 -translate-y-1/2 end-3 cursor-pointer text-gray-400"
              (click)="isTypeText.set(true)"
            ></i>
          }
        </div>
        @if (password?.errors && password?.touched) {
          <div class="auth-alert animate__animated animate__faster">
            <i class="fa-solid fa-circle-exclamation text-[11px]"></i>
            <span class="text-[11px]">
              @if (password?.getError('required')) {
                {{ 'Required' | translate }}
              } @else if (password?.getError('pattern')) {
                {{ '8+ chars, 1 letter, 1 number' | translate }}
              }
            </span>
          </div>
        }
      </div>

      <div class="text-right mb-4">
        <a
          routerLink="/forgot-passwords"
          class="text-sm text-[#0071AE] hover:text-slate-950 hover:underline"
          >{{ 'Forgot password?' | translate }}</a
        >
      </div>

      <button [disabled]="loginForm.invalid || isLoading()" type="submit" class="auth-btn">
        @if (isLoading()) {
          <i class="fa-solid fa-spinner fa-spin"></i>
          Authenticating...
        } @else {
          {{ 'Log in' | translate }}
        }
      </button>
    </form>

    <div class="mt-6 text-center">
      <p class="text-sm text-gray-500 mb-2">
        {{ "Don't have an account?" | translate }}
        <a
          routerLink="/signup"
          class="text-[#0071AE] font-bold hover:underline hover:text-slate-950"
          >{{ 'Register' | translate }}</a
        >
      </p>
    </div>
  </div>
</div>
