<div class="auth-section-div animate__animated animate__fadeInDown animate__faster">
  <div class="auth-wrapper-div">
    <!-- ?===== Auth Header ?===== -->
    <app-auth-header>
      <h2 class="text-lg font-medium text-slate-900">{{ 'Update Password' | translate }}</h2>
      <p class="text-sm text-slate-500">
        {{ 'Secure your account with a new password' | translate }}
      </p>
    </app-auth-header>

    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChangePassword()">
      <div class="mb-4">
        @let currentPassword = changePasswordForm.get('currentPassword');
        <label for="password" class="sr-only">{{ 'Current Password' | translate }}</label>
        <div class="relative">
          <input
            id="password"
            name="password"
            formControlName="currentPassword"
            [type]="isTypeText() ? 'text' : 'password'"
            [placeholder]="'Current Password' | translate"
            [class]="{
              'border-green-600': currentPassword?.valid && currentPassword?.touched,
              'border-red-600': currentPassword?.invalid && currentPassword?.touched,
            }"
            class="auth-input"
          />
          @if (isTypeText()) {
            <i
              class="fa-solid fa-eye absolute top-1/2 -translate-y-1/2 end-3 cursor-pointer text-gray-400"
              (click)="isTypeText.set(false)"
            ></i>
          } @else {
            <i
              class="fa-solid fa-eye-slash absolute top-1/2 -translate-y-1/2 end-3 cursor-pointer text-gray-400"
              (click)="isTypeText.set(true)"
            ></i>
          }
        </div>
        @if (currentPassword?.errors && currentPassword?.touched) {
          <div class="auth-alert animate__animated animate__faster">
            <i class="fa-solid fa-circle-exclamation text-[11px]"></i>
            <span class="text-[11px]">
              @if (currentPassword?.getError('required')) {
                {{ 'Required' | translate }}
              } @else if (currentPassword?.getError('pattern')) {
                {{ '8+ chars, 1 letter, 1 number' | translate }}
              } @else if (currentPassword?.hasError('serverError')) {
                {{ 'Incorrect current password' | translate }}
              }
            </span>
          </div>
        }
      </div>

      <div class="mb-4">
        @let password = changePasswordForm.get('password');
        <label for="password" class="sr-only">{{ 'Password' | translate }}</label>
        <div class="relative">
          <input
            id="password"
            name="password"
            formControlName="password"
            [type]="isTypeText2() ? 'text' : 'password'"
            [placeholder]="'Password' | translate"
            [class]="{
              'border-green-600': password?.valid && password?.touched,
              'border-red-600': password?.invalid && password?.touched,
            }"
            class="auth-input"
          />
          @if (isTypeText2()) {
            <i
              class="fa-solid fa-eye absolute top-1/2 -translate-y-1/2 end-3 cursor-pointer text-gray-400"
              (click)="isTypeText2.set(false)"
            ></i>
          } @else {
            <i
              class="fa-solid fa-eye-slash absolute top-1/2 -translate-y-1/2 end-3 cursor-pointer text-gray-400"
              (click)="isTypeText2.set(true)"
            ></i>
          }
        </div>
        @if (password?.errors && password?.touched) {
          <div class="auth-alert animate__animated animate__faster">
            <i class="fa-solid fa-circle-exclamation text-[11px]"></i>
            <span class="text-[11px]">
              @if (password?.getError('required')) {
                {{ 'Required' | translate }}
              } @else if (password?.getError('pattern')) {
                {{ '8+ chars, 1 letter, 1 number' | translate }}
              }
            </span>
          </div>
        }
      </div>

      <div class="mb-8">
        @let rePassword = changePasswordForm.get('rePassword');
        <label for="rePassword" class="sr-only">{{ 'Confirm Password' | translate }}</label>
        <div class="relative">
          <input
            id="rePassword"
            name="rePassword"
            formControlName="rePassword"
            [type]="isTypeText3() ? 'text' : 'password'"
            [placeholder]="'Confirm password' | translate"
            [class]="{
              'border-green-600': rePassword?.valid && rePassword?.touched,
              'border-red-600':
                (rePassword?.invalid || changePasswordForm.getError('mismatch')) &&
                rePassword?.touched,
            }"
            class="auth-input"
          />
          @if (isTypeText3()) {
            <i
              class="fa-solid fa-eye absolute top-1/2 -translate-y-1/2 end-3 cursor-pointer text-gray-400"
              (click)="isTypeText3.set(false)"
            ></i>
          } @else {
            <i
              class="fa-solid fa-eye-slash absolute top-1/2 -translate-y-1/2 end-3 cursor-pointer text-gray-400"
              (click)="isTypeText3.set(true)"
            ></i>
          }
        </div>
        @if (
          (rePassword?.errors || changePasswordForm.getError('mismatch')) && rePassword?.touched
        ) {
          <div class="auth-alert animate__animated animate__faster">
            <i class="fa-solid fa-circle-exclamation text-[11px]"></i>
            <span class="text-[11px]">
              @if (rePassword?.getError('required')) {
                {{ 'Required' | translate }}
              } @else if (changePasswordForm.getError('mismatch')) {
                {{ "Passwords don't match" | translate }}
              }
            </span>
          </div>
        }
      </div>

      <button [disabled]="changePasswordForm.invalid || isLoading()" type="submit" class="auth-btn">
        @if (isLoading()) {
          <i class="fa-solid fa-spinner fa-spin"></i>
          {{ 'Updating...' | translate }}
        } @else {
          {{ 'Change Password' | translate }}
        }
      </button>
    </form>
  </div>
</div>
