<section class="my-bg min-h-screen py-20">
  <div class="max-w-7xl mx-auto px-6 lg:px-8">
    <div class="mb-8">
      <div>
        <h1 class="text-4xl font-bold uppercase text-slate-900 mb-5">
          {{ 'Wishlist' | translate }}
        </h1>
        <span class="text-[18px] font-semibold capitalize text-black"
          >{{ wishlistItems() }} {{ 'items' | translate }}</span
        >
      </div>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-6 gap-y-12">
      @for (wishlist of wishlist_List(); track wishlist._id) {
        <app-product-card [product]="wishlist"></app-product-card>
      } @empty {
        <div
          class="col-span-full flex flex-col items-center justify-center text-center pt-12 animate__animated animate__fadeIn"
        >
          <div class="w-60 mb-8">
            <img src="/images/wishlist.svg" alt="Empty Cart" class="w-full" />
          </div>
          <h2 class="text-2xl font-medium text-slate-900 mb-2">
            {{ 'Your wishlist is empty' | translate }}
          </h2>
          <p class="text-slate-700 text-md">
            {{ 'Save items you love to find them easily later' | translate }}
          </p>
        </div>
      }
    </div>
  </div>
</section>
